In [1]:
import numpy as p
import tensorflow as tf
import tqdm
import pandas as pd
import utils

WARNING:tensorflow:From c:\Users\User\Github_Repositories\learning-ml\courses\Unsupervised-Learning-Recommenders-Reinforcement-Learning\.venv\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
Y_df, R_df = utils.load_ratings_small('data/ml-latest-small', count=1000)

1000it [00:00, 2691.80it/s]

In [6]:
Y_df.head()

   movieId    1    2    3    4    5    6    7
0      1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      2.0  4.0  0.0  0.0  0.0  4.0  0.0  4.5
2      3.0  0.0  0.0  0.0  0.0  0.0  4.0  0.0
3      4.0  4.0  0.0  0.0  0.0  0.0  5.0  0.0
4      5.0  0.0  0.0  0.0  0.0  0.0  3.0  0.0

In [7]:
Y_df.shape

(9771, 8)

In [11]:
X, W, b, num_movies, num_users = utils.load_precalc_params(Y_df, num_features=10)
X_df = pd.DataFrame(X)
print(X_df.shape)
X_df

(9771, 10)

,0,1,2,3,4,5,6,7,8,9
0,0.949566,0.463126,0.513085,0.654912,0.227554,0.658305,0.710618,0.918740,0.632581,0.433564
1,0.877298,0.904148,0.615417,0.503908,0.575148,0.712239,0.573303,0.480580,0.991050,0.463560
2,0.519809,0.227543,0.491142,0.560359,0.940718,0.780224,0.695446,0.989831,0.862735,0.190817
3,0.556473,0.456478,0.973794,0.343886,0.651692,0.454383,0.015700,0.219410,0.936033,0.735790
4,0.981389,0.877210,0.014459,0.941913,0.640916,0.844829,0.478063,0.545361,0.549170,0.493417
...,...,...,...,...,...,...,...,...,...,...
9766,0.435367,0.236677,0.889486,0.257852,0.493274,0.954033,0.509917,0.222429,0.620539,0.429590
9767,0.375346,0.517465,0.007939,0.115986,0.881201,0.175487,0.853346,0.749306,0.047956,0.739696
9768,0.032009,0.965954,0.098868,0.708729,0.957971,0.801530,0.392642,0.928685,0.227937,0.676161
9769,0.739365,0.375190,0.778526,0.340260,0.922853,0.140115,0.054399,0.365578,0.018093,0.547999
9770,0.660215,0.773491,0.400513,0.215598,0.283455,0.473718,0.686828,0.620022,0.167761,0.568206